.move-down__svg-icon {
  fill: #ffffff;
  width: 40px;
  height: 20px;
  animation: jump-move-down 1s infinite;
  position: absolute;
  bottom: 10px;
  left: calc(50% - 20px);
}

@keyframes jump-move-down {
0% {
    transform: translateY(0);
}
50% {
    transform: translateY(-7px);
}
55% {
    transform: translateY(-7px);
}
100% {
    transform: translateY(0);
}
}
